body {
	background-image: url("https://s-media-cache-ak0.pinimg.com/originals/fc/40/a5/fc40a5c3e297f14ac5b835212849f085.jpg");
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

body {
	display: inline-block;
	border: 2px solid;
	margin-top: 30px;
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

h2 {
	text-decoration: underline;
}