body {
	background-image: url("http://img15.deviantart.net/126f/i/2015/361/f/0/championship_thresh___chibi_by_cat_astic-d8a8yfb.png");
	background-color: lightsteelblue;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right bottom;
	background-size: 20%

}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.overview {
	display: inline-block;
	border: 2px solid;
	margin-top: 30px;
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

h2 {
	text-decoration: underline;
}